
body {
  font-family: Arial, sans-serif;
  background: #fff;
  color: #111;
  padding: 2em;
  max-width: 800px;
  margin: auto;
}

h1, h2 {
  color: #D93240;
}

input, textarea, button {
  display: block;
  margin-top: 1em;
  padding: 0.7em;
  width: 100%;
  max-width: 100%;
  font-size: 1em;
}

.checkbox-group, .radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 0.5em;
}

button {
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #333;
}
